* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.MenuIcon {
  position: fixed;
  display: flex;
  margin-left: 5px;
  margin-top: 5px;
  width: 30px;
  height: 30px;
  cursor: pointer;
  z-index: 2;
}

.MenuLine {
  position: relative;
  height: 3px;
  width: 120%;
  margin: 10px;
  background-color: #fff;
  backdrop-filter: blur(10px);
}


.MenuLine:nth-child(2) {
  width: 70%;
}
