* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

.container {
  width: 100%;
  height: 500px;
}

.container .hero {
  position: relative;
  height: 100%;
  transform: scaleX(-1);
  background-image: url('../../acces/image/colors3.png');
  background-position: center;
  background-size: cover;
}

.hero > h2 {
  font-family: "Montserrat", sans-serif;
  height: 100%;
  width: 100%;
  color: #fff;
  font-size: 2.90em;
  transform: scaleX(-1);
  right: 0;
  top: 0;
  position: absolute;
  padding: 230px 20px;
  letter-spacing: 2px;
  background-image: linear-gradient(to right,
  rgba(0, 0, 0, 1) 20%,
  rgba(0, 0, 0, 0.7) 40%,
  rgba(0, 0, 0, 0.4) 70%,
  rgba(0, 0, 0, 0) 100%);
}

.mine {
    background-image: linear-gradient(to right,
            #000,
            #131313);
    width: 100%;
    display: flex;
    align-items: center;
    padding: 90px 0;
    justify-content: center;
    /* height: 100dvh; */
}

.Sroll_Wrapper {
  padding: 10px 0;
  height: 100px;
  width: 100%;
  color: gray;
  background-image: linear-gradient(to right,
    #000,
    #131313
  );
}


.pageTittle {
  text-align: center;
  color: #f8f9fa;
  font-size: 30px;
  padding: 10px 0;
  margin: 10px 0;
  margin-top: 20px;
  font-family: "Montserrat";
}